@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
}

* {
  font-family: 'Poppins', sans-serif;
}

.login {
  background-image: linear-gradient(rgba(0 , 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/bgregis.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#load {
  position: absolute;
  width: 600px;
  height: 40px;
  left: 50%;
  top: 40%;
  margin-left: -300px;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}